<%- include('../partials/header')  %> 
     <!-- HOME -->
     <div class="container">
          <div class="row">
               <div class="col-xs-12">
                    <div class="col-xs-12">
                         <h1>Group Members</h1>
                    </div>
               </div>
               <div class="col-xs-12">
                    <div class="col-xs-12">
                         <h3>ID: 18K-0357</h3>
                         <h3>Ali Azlan Aziz</h3>
                    </div>
               </div>
               <div class="col-xs-12">
                    <div class="col-xs-12">
                         <h3>ID: 18K-1261</h3>
                         <h3>Syed Muhammad Hubab</h3>
                    </div>
               </div>
               <div class="col-xs-6">
                    <div class="col-xs-12">
                         <h3><a href="https://github.com/AliAzlanAziz/algorithms-semester-project"><u>Github Repo Link</u></a></h3>
                    </div>
               </div>
          </div>
     </div>
<%- include('../partials/footer') %> 
