<%- include('../partials/header')  %> 
     <!-- HOME -->
     <div class="container">
          <div class="row">
               <h2>Choose algorithm and the data set will be choosen from .txt file from backend</h2>
               <section id="appointment" data-stellar-background-ratio="3">
                    <div class="col-xs-6">
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <div class="col-xs-12">
                                   <a href="/lcs">
                                        <button type="submit" class="form-control" id="cf-submit">1. Longest Common Subsequence</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/scs">
                                        <button type="submit" class="form-control" id="cf-submit">2. Shortest Common Subsequence</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/ld">
                                        <button type="submit" class="form-control" id="cf-submit">3. Levenshtein Distance (edit-distance)</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/lis">
                                        <button type="submit" class="form-control" id="cf-submit">4. Longest Increasing Subsequence</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/mcm">
                                        <button type="submit" class="form-control" id="cf-submit">5. Matrix Chain Multiplication (Order finding /paranthesization)</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/01kp">
                                        <button type="submit" class="form-control" id="cf-submit">6. 0-1-knapsack-problem</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/pp">
                                        <button type="submit" class="form-control" id="cf-submit">7. Partition-problem</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/rcp">
                                        <button type="submit" class="form-control" id="cf-submit">8. Rod Cutting Problem</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/ccmp">
                                        <button type="submit" class="form-control" id="cf-submit">9. Coin-change-making-problem</button>
                                   </a>
                              </div>
                              <div class="col-xs-12">
                                   <a href="/wbp">
                                        <button type="submit" class="form-control" id="cf-submit">10. Word Break Problem</button>
                                   </a>
                              </div>
                         </div>
                    </div>
               </section>
          </div>
     </div>
<%- include('../partials/footer') %> 
