<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <h2>Dataset a</h2>
            <section id="appointment" data-stellar-background-ratio="3">
                <div class="col-xs-12">
                    <div data-wow-delay="0.8s">
                        <div class="col-xs-12">
                            <p>1)IILZALLLAAAALIAALLAAZLLIZLAALLLNZAALIALAAAII<br>
                                IANZIAALAZLAZLLIIIAAZALNZLLAAILAAAAAAALLLNAIAINLLLAAZIAA</p>
                            <p>2)ZZIZANAAAALALLLZALAAAZALAIIAAAAAALA<br>
                                ALZNIALALLINIAZLLZINALNANALALAAIAAAILAIZZAAAAAZALAAAANAAIAAZ</p>
                            <p>3)LALLLZINAZAZAALZAALILAZALNZIZIZNLANALAANAAZIZZLINAAINNN<br>
                                IILIZALAIILAALANLAZZLZAAZLLNZILZAILNNLZIALALIAAZLLIAZNLAALNALANAANAAANAAAAAAAI</p>
                            <p>4)ALIZNILANAIILILZAALZZLALINNLLLLALLLNINLNLILZALILNAAIL<br>
                                ZLALAIIZALIALNALALIILAALAIIAZLALNLLZZAIZALALZAIA</p>
                            <p>5)ILNALLNANZAAAINAZLLAAAZALLAIAINZLIAALAALILNALLANANZZAZIAAIALZINILZANLIAAAAALIAIAINZANL<br>
                                IIALIAZAALLAALLLIANALNNLLLAZNLLLAZIAAIAAALALAIANLAAAIAALLIZALIAAIILNNZZLAALAAZAALANLALIZZLINI</p>
                            <p>6)AAAAALZLAAILINLALANAZZAAIILZAALAANNAAZLALLLNNZLANLIZIZZLZIANILNLIAAZAILAZZINILAZAAAZNZALLLANALAILNLI<br>
                                AAAANAAAIAAIZAIANZALLAAILLAAAINLAZNAIAAALAAAALLLIAAAIZALALINAANIAZLZZALIAAZANANIANAL</p>
                            <p>7)AAIIINAAAINLNIAAZAAAIZLILLLAINA<br>
                                ALAANALANAAZNLAALLANNLAALAAAINNANLNNLLZZAALLAAAAIZAA</p>
                            <p>8)ZIANAALLZANLIIAIIZAANZLLLAAALANAINZNZAALZAALZLALLLZALLLALALIIIALALNNLAIAALLA<br>
                                ALIALALZZNALNZAAAANAAAIZNAILLAALAILLAZAZAAAAANLAZAALZLNIAZANAANLLLALIAIAALNLZAAAALNALZZLAA</p>
                            <p>9)LIZLZALANZLAAAANAZAAAAZZLALZZAAAZLIIAILIANZAAAZAA<br>
                                LZLAZLZNAALLALIANIAALNLALLAAAAZINALIANNAALAAALLZANLLAANLNANALLLAAA</p>
                            <p>10)NILLLNNIAIAAALALLALLNLAAZNALAAAILILIAAALALIAAIIZLAANIALLANINAZNIZLAZALZAALNZLIIA<br>
                                ZAAZZLAIAIALLAAALALLNAAAAAILNLILLANALNIAIZANZLNIANZAAAAAIALLNZNIALALZAAIZNZZIILAZLINANNAIA</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-xs-12">
                            <a href="/algorithms/lcs">
                                 <button type="submit" class="form-control" id="cf-submit">1. Longest Common Subsequence</button>
                            </a>
                       </div>
                       <div class="col-xs-12">
                            <a href="/algorithms/scs">
                                 <button type="submit" class="form-control" id="cf-submit">2. Shortest Common Subsequence</button>
                            </a>
                       </div>
                       <div class="col-xs-12">
                            <a href="/algorithms/ld">
                                 <button type="submit" class="form-control" id="cf-submit">3. Levenshtein Distance (edit-distance)</button>
                            </a>
                       </div>
                       <input type="hidden" name="file" value="a.txt">
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>