<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Dataset b</h2>
                <div class="col-xs-12">
                    <p>1)AALALAZZLIANLLZALLNANAANAAIAAIIAAAALAZALNAAALALAILALNZAZ<br>
                        ANLLNALIAALNLZLNALLALLLAAILAAIALZINLAAZLZAIALLLAIAZNLNAIAAILAZAN</p>
                    <p>2)NAANLANIAZAAANILAZANNIIILLIAAALZAAAILLNAANZIALNLIAAILAZLLANLAAAAZANLNLZAAAZ<br>
                        ZAAALAAINALLLIAAAANNZNLZALZLILNZZALANINZLLLLL</p>
                    <p>3)IZLNLLAALIALAZZIAZLLLILZAAAZZIL<br>
                        LAILLIAZINNAAAILZAAIAAZIAAAALINAALANALL</p>
                    <p>4)LLIINLILLAANAZALLLZZNNALLLLNLLNLALNAANLNNAIAN<br>
                        AIALANLALINZAANAALAAAZLLAANLAALNAALZNAAAANAZLLAAAAZII</p>
                    <p>5)LZALAILNLALAAAANAANIIAZANNLAAAAZIANNAIINLIIZZAA<br>
                        ZIZZALANAZZNIAAZLANLAIIALAINNLALALLALAAILZAAAIILAANZAZLLILZZALLAL</p>
                    <p>6)ILALAAAAIIZAZLAANAIAANALNLNAAINALANNIZLNZLALAZALLAALALAANAZAALALZANANLALNAAAAI<br>
                        AAANALAIAZLZLALLAAAANAAALNIININZZZLANNLIANAAANLALAIZLAZLALNZLLA</p>
                    <p>7)NLNZLALLALINAZIINIILANAAIZZZALIZL<br>
                        LIALALAILIZAANNZINLAAALLAAAAAAIAALAILNNZZLAZAAINNILNALAAIAIANANLAALZLALAINILLLNL</p>
                    <p>8)LINANLAINZAIANLANILNZZLZAAAIZALZALAZLAN<br>
                        LZLIAZIZNALINNALIANIIINNLZANNLZAAZNLZAILINLLALAANIAALANALILZAZ</p>
                    <p>9)LALLLZALLIZANNZANAZLLANNAAANANAAAAALNILIA<br>
                        LAIALZLINIAZLZNLANAILALLZAAAAAALLIZNAIAIAZANIZILANLLIAL</p>
                    <p>10)LIZANNLNAZLINAIALIAZAILIANIALALLLLZNALLANALLIAALAANANAAIZLLLAZAILIAALZZZALAIZZZANAIZLIZ<br>
                        NALANLAZALLLLANINAIAAAAALAAANAAZAZIAANAALZLAAAZLALALALALLLNALALLINLLLLAAAZAAANA</p>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <a href="/algorithms/b/lcs">
                            <button type="submit" class="form-control" id="cf-submit">1. Longest Common Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/b/scs">
                            <button type="submit" class="form-control" id="cf-submit">2. Shortest Common Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/b/ld">
                            <button type="submit" class="form-control" id="cf-submit">3. Levenshtein Distance (edit-distance)</button>
                        </a>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>