<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <h2>Dataset b</h2>
            <section id="appointment" data-stellar-background-ratio="3">
                <div class="col-xs-12">
                    <div data-wow-delay="0.8s">
                        <div class="col-xs-12">
                            <p>1)AALALAZZLIANLLZALLNANAANAAIAAIIAAAALAZALNAAALALAILALNZAZ<br>
                                ANLLNALIAALNLZLNALLALLLAAILAAIALZINLAAZLZAIALLLAIAZNLNAIAAILAZAN</p>
                            <p>2)NAANLANIAZAAANILAZANNIIILLIAAALZAAAILLNAANZIALNLIAAILAZLLANLAAAAZANLNLZAAAZ<br>
                                ZAAALAAINALLLIAAAANNZNLZALZLILNZZALANINZLLLLL</p>
                            <p>3)IZLNLLAALIALAZZIAZLLLILZAAAZZIL<br>
                                LAILLIAZINNAAAILZAAIAAZIAAAALINAALANALL</p>
                            <p>4)LLIINLILLAANAZALLLZZNNALLLLNLLNLALNAANLNNAIAN<br>
                                AIALANLALINZAANAALAAAZLLAANLAALNAALZNAAAANAZLLAAAAZII</p>
                            <p>5)LZALAILNLALAAAANAANIIAZANNLAAAAZIANNAIINLIIZZAA<br>
                                ZIZZALANAZZNIAAZLANLAIIALAINNLALALLALAAILZAAAIILAANZAZLLILZZALLAL</p>
                            <p>6)ILALAAAAIIZAZLAANAIAANALNLNAAINALANNIZLNZLALAZALLAALALAANAZAALALZANANLALNAAAAI<br>
                                AAANALAIAZLZLALLAAAANAAALNIININZZZLANNLIANAAANLALAIZLAZLALNZLLA</p>
                            <p>7)NLNZLALLALINAZIINIILANAAIZZZALIZL<br>
                                LIALALAILIZAANNZINLAAALLAAAAAAIAALAILNNZZLAZAAINNILNALAAIAIANANLAALZLALAINILLLNL</p>
                            <p>8)LINANLAINZAIANLANILNZZLZAAAIZALZALAZLAN<br>
                                LZLIAZIZNALINNALIANIIINNLZANNLZAAZNLZAILINLLALAANIAALANALILZAZ</p>
                            <p>9)LALLLZALLIZANNZANAZLLANNAAANANAAAAALNILIA<br>
                                LAIALZLINIAZLZNLANAILALLZAAAAAALLIZNAIAIAZANIZILANLLIAL</p>
                            <p>10)LIZANNLNAZLINAIALIAZAILIANIALALLLLZNALLANALLIAALAANANAAIZLLLAZAILIAALZZZALAIZZZANAIZLIZ<br>
                                NALANLAZALLLLANINAIAAAAALAAANAAZAZIAANAALZLAAAZLALALALALLLNALALLINLLLLAAAZAAANA</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-xs-12">
                            <a href="/algorithms/lcs">
                                 <button type="submit" class="form-control" id="cf-submit">1. Longest Common Subsequence</button>
                            </a>
                       </div>
                       <div class="col-xs-12">
                            <a href="/algorithms/scs">
                                 <button type="submit" class="form-control" id="cf-submit">2. Shortest Common Subsequence</button>
                            </a>
                       </div>
                       <div class="col-xs-12">
                            <a href="/algorithms/ld">
                                 <button type="submit" class="form-control" id="cf-submit">3. Levenshtein Distance (edit-distance)</button>
                            </a>
                       </div>
                       <input type="hidden" name="file" value="b.txt">
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>