<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Dataset c</h2>
                <div class="col-xs-12">
                    <p>1)NINAAAZLLAAIAZLAANLAAZNZLZLNALZAZLILZAAZNINLIANI<br>
                        AAAAAZAZLNLIAALLAIINZALZAZZZZAALLANNALAAAAALLLAALAAAIAALNLAIALAAALAALILLAZA</p>
                    <p>2)LAZAALAAALALALAZNILZLZAZIAANAA<br>
                        ZAAALALZAAANLALIAAIALAINALLLNLZNNLAZLAAAAZL</p>
                    <p>3)IIAZZLILAIALNLZNLNAALAZINAZNNAANLAIAAAAINANAALLAINAAN<br>
                        LIANLALLNALZANNNINALNAALAANAAIZAANNZAALIALAZAAALNLALALANAALALZLIAAILALANLIIAAALLAALLALANLZILZLLL</p>
                    <p>4)AZLALAZAAALNLNALZLALNIZAZAALAZAANAALNAAALANAAILALALLLLZAAZIAAANAZNIN<br>
                        NNLALALIALIAZNLALZAAAALALNNAAZAZZIIIANALIANNNIALNAANAILZLINLAIAAZZALZALNNALZAANLAZN</p>
                    <p>5)LZAIIZANLZLLNLAALALNLAAAZALAALLLIANAALZANAIALIIZLALAILLAANIAAINN<br>
                        AALINAALAAAINZINAZIALIAAZALIAZIILALNIALAAAILAALAL</p>
                    <p>6)AAAZILAAAAAAIZAANALLZNALALAAAAALZIINNILALALAALALA<br>
                        NAALNNIALAZZAZALIZZLLZLLILALLZAAILILAANAA</p>
                    <p>7)ZLNIAAZALAALALALNLINAALIAAZAANNNALLNNAAAAAAIZIZANNA<br>
                        IAILAZZAAZIZLALAIAIZAZNZNANLZLANLZLA</p>
                    <p>8)AAAALLZAANLZANILLNAIZAAZZANANANIAZIAIAALALIZAAALZI<br>
                        AAAALZALLAAAIAAAALZIAAAIAAALINZNIAILAZZNZLAANAANIALALAZIZLAAAAANNALLANALLIAALN</p>
                    <p>9)LALALLLNZINLAILAALNZANLLALZIAIILANALINLA<br>
                        IALLAAAIALNIAANIIZAAAILANAALIAIAZZZAALLAAIAALLLIZIALLLAZAZLLLIAZAININALAANZAAZLAAAANALA</p>
                    <p>10)LALZAANAINALLAANZLLZNNAZLIIZLIAALNA<br>
                        LLAAAAAAALAAAAALALAAZZLANAAZIZAZLAAZNZALIAALNLIAZALZAALIZLIAZALAIZALAALAIAANALALLZLIINAANALNIANAAZAN</p>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <a href="/algorithms/c/lcs">
                            <button type="submit" class="form-control" id="cf-submit">1. Longest Common Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/c/scs">
                            <button type="submit" class="form-control" id="cf-submit">2. Shortest Common Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/c/ld">
                            <button type="submit" class="form-control" id="cf-submit">3. Levenshtein Distance (edit-distance)</button>
                        </a>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>