<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Dataset e</h2>
                <div class="col-xs-12">
                    <p>1)25,27,9</p>
                    <p>2)9,16,20,30,29,26,13,15</p>
                    <p>3)11,14,6,4,19,16,16,2,13,4,3,25,28,10,4</p>
                    <p>4)10,15,8,25,16,8,22,11,18,21,24,8,8,6</p>
                    <p>5)29,1,30,20,25,30,1,10</p>
                    <p>6)22,11,5,29,21,24,19,25,25,17,20,16,5</p>
                    <p>7)26,26,10,17,4,3,9,15,26</p>
                    <p>8)26,2,21,30,29,15,6,7,13</p>
                    <p>9)23,13,27,1,18,25,3,19</p>
                    <p>10)2,10,17,22,11,12,10,25,15,1,9</p>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <a href="/algorithms/e/lis">
                            <button type="submit" class="form-control" id="cf-submit">1. Longest Increasing Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/e/mcm">
                            <button type="submit" class="form-control" id="cf-submit">2. Matrix Chain Multiplication (Order finding /paranthesization)</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/e/pp">
                            <button type="submit" class="form-control" id="cf-submit">3. Partition-problem</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/e/ccmp">
                            <button type="submit" class="form-control" id="cf-submit">4. Coin-change-making-problem</button>
                        </a>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>