<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Dataset h</h2>
                <div class="col-xs-12">
                    <p>1)35,25,96,38,10,60,17,61,11,70,46,74,74,79,23,69,100,23,62,46,90,20,88,22,93,16,65,24,48,40,70,10,34,94,22,27,67,56,44,70,77,19,35,70,36,30</p>
                    <p>33,52,47,65,56,22,20,82,32,11,73,56,44,84,91,97,78,33,51,12,68,33,26,84,53,78,70,47,62,23,60,13,60,46,27,96,41,69,69,71,20,10,19,34,95,30</p>
                    <p>2)80,34,82,86,81,16,42,31,11,99,95,64,92,38,47,51,51,69,82,95,85,54,70,18,28,73,67,27,15,22,80,13,59,33,28,92,13,23,60,83,72,13,52,12,29,57,23,14,95,16,48,43,74,50,17,83,95,28</p>
                    <p>67,17,98,26,75,29,77,61,47,95,87,43,97,75,36,97,44,60,38,13,58,22,77,15,26,84,63,81,88,15,48,18,79,16,10,12,90,51,76,70,12,58,16,56,64,15,73,94,15,94,25,24,17,97,13,30,71,25</p>
                    <p>3)80,18,52,100,48,58,84,52,92,51,90,23,100,90,50,48,57,25,18,83,12,88,85,74,86,35</p>
                    <p>87,41,53,93,68,35,49,24,36,33,21,42,27,67,26,63,81,39,43,81,32,15,85,28,96,93</p>
                    <p>4)30,56,86,61,12,48,63,23,59,70,35,10,52,19</p>
                    <p>70,51,91,31,37,29,85,14,28,53,58,83,97,76</p>
                    <p>5)84,23,88,73,72,62,18,63,35,45,30,74,98,46,91,30,91,89,60,40,39,66,64,76,12,24,57,18,79,40,17,42</p>
                    <p>89,74,37,56,79,42,43,65,89,19,47,55,53,30,45,97,38,23,98,83,44,55,55,97,57,57,27,96,26,57,62,28</p>
                    <p>6)99,65,94,17,98,47,30,93,52,46,25,50,32,25,64,41,87,81,74</p>
                    <p>33,50,61,23,49,87,91,96,26,52,81,85,68,76,71,46,84,10,26</p>
                    <p>7)82,84,87,12,93,26,11,26,14,74,59,27,50,88,62,45,80,79,81,31,79,26,99,99,14,97,56,48,77,84,11,77,87,48,55,73,72,59,51,95,21,85,54,90,91,73,14,78,24,84,58,60,47,78,31,52,23,81,98,80,20,17,83,93,38,47,67,29,46,93,29</p>
                    <p>49,42,52,14,64,65,54,54,11,72,51,96,49,69,34,72,89,44,14,65,18,21,32,78,78,22,90,63,15,88,40,68,44,18,91,83,89,43,77,48,61,34,88,29,48,99,34,17,83,92,24,61,11,44,95,92,78,79,61,42,26,34,79,62,91,83,44,66,87,37,61</p>
                    <p>8)75,16,100,31,88,43,32,53,11,98,17,16,82,72,27,45,66,42,57,10,86,19,88,38,37,59,42,98,44,41,45,73,53,53,76,56</p>
                    <p>62,95,41,86,11,15,17,71,56,72,56,13,79,30,43,58,45,85,25,79,13,15,62,55,89,28,44,32,26,41,20,68,20,92,20,90</p>
                    <p>9)87,54,83,51,30,41,79,80,82,85,14,98,51,57,22,45,29,67,51,85,85,82,34,42,78,75,46,65,66,62,35,33,41,49,11,41,54,19,57,47,30,48,60,12,64,66,73,79,76,91,16,38,73,53,50,71,18,52,86,94,11,39,62,57</p>
                    <p>96,46,88,86,79,89,48,70,11,12,48,87,88,40,59,81,65,87,24,44,32,10,22,22,95,14,27,97,68,17,24,76,21,34,30,41,43,100,33,78,60,80,97,11,92,22,16,59,11,22,96,62,19,68,54,65,75,53,11,41,93,46,76,30</p>
                    <p>10)76,70,37,78,100,57,28,26,47,13,92,86,100,97,75,22,48,53,60,25,70,94,72,35,98,60,30,30,64,59,87,91,82,96,62,97,40,28,41,72,21,31,62,14,86,63,49,45,48,23,55,31,56,92,54,27,96,84,83,53,39,44,69,73,56,92,79,74,84,90,89,49,67,99,53,42,74,55,25,89,19,82,81</p>
                    <p>50,75,21,86,71,58,96,16,33,34,11,27,73,75,66,55,11,47,76,94,87,40,90,68,77,83,94,19,46,54,59,45,91,12,34,10,84,21,78,62,16,44,76,18,74,79,66,63,78,18,20,39,82,70,49,68,95,52,96,37,73,72,27,89,25,87,44,34,24,73,100,82,72,24,97,33,43,45,21,72,17,99,44</p>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <a href="/algorithms/h/01kp">
                            <button type="submit" class="form-control" id="cf-submit">1. 0-1-knapsack-problem</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/h/rcp">
                            <button type="submit" class="form-control" id="cf-submit">2. Rod Cutting Problem</button>
                        </a>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>