<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Dataset i</h2>
                <div class="col-xs-12">
                    <p>1)57,57,71,98,1,57,25,27,73,17,40,30,26,47,38,64,79,71,70,78,30,94,51,31,66,89,0,2,75,24,99,71,89,66,44,77,93,52,85,50,29,78,90,91,36,32,43,31,68,52,47,84,58,75,25,66,87,36,33,34,98,48,80,83,36,97,90,22,22,38,4,15,54,15,71,14,63,18,59,61,39,84,99,50,1</p>
                    <p>2)0,72,54,99,37,64,21,86,12,6,25,47,13,92,55,81,80,71,89,5,60,69,63,56,92,64,92,24,24,63,22,82,15,83,13,49,78,16,67,0,98,13,93,10,80,98,87,37,17,50,1,77,22,74,88,79,86,71,54,99,87,53,91,12,82,15,29,34,84,94,12,16,93,32,52,53,2</p>
                    <p>3)39,75,75,27,40,3,68,56,51,89,77,25,48,27,9,79,39,16,0,66,17,31,5,41,82,4,90,80,93,13,16,68,77,93,80,9,96,100,10,54,92,37,45,54,58,80,14,99,96,77,82,67,37,75,2,40</p>
                    <p>4)69,67,12,16,21,70,22,60,19,15,73,72,49,93,26,53,82,87,82,95,58,64,18,93,82,69,68,76,73,49,33,9,81,1,66,37,32,74,88,86,88,12,80,25,57,25,85,36,76,9,42,70,13,6,49,54,1,86</p>
                    <p>5)76,17,37,54,62,43,77,50,36,21,94,61,62,21,17,99,54,59,87,44,78,52,41,69,12,79,87,80,30,99,58,96,84,85,21,84,16,19,7,67,12,20,92,42,2,5</p>
                    <p>6)27,5,70,60,53,50,7,7,90,27,55,89,83,46,31,34,57,2,37,20,76,84,59,15,70,64,98,68,78,98,97,67,61,94,75,25,31,76,13,3,63,62,11,70,20,44,32,58,70,69,70,99,51,43,83,46,95,37,42</p>
                    <p>7)60,37,90,10,28,43,61,8,79,4,14,23,73,96,90,75,84,51,59,13,41,57,44,41,39,49,80,67,46,45,70,64,98,15,81,26,84,47,96,87,63,66,100,93,36,42,87,42,27,84,13,62,93,27,2,10,19,71</p>
                    <p>8)92,56,10,1,60,97,20,36,1,69,100,27,9,78,87,14,94,63,32,20,72,27,82,33,17,82,1,90,96,29,36,37,72,19,92,37,62,20,24,36,17,65,59,66,70,7,31,93,31,38,82,87,3,80,22,40,35,14,39,81,77,44,19,15,84,28,64,31,72,25,84,98,7,57,52,13,72,28,48,84,21,9,86,52,73,4,6,65,79,79,58,40,51,4,15,66,27,17</p>
                    <p>9)22,2,65,88,34,67,19,97,47,57,55,100,54,69,94,88,45,63,52,62,41,70,44,29,17,67,85,8,64,25,16,48,44,1,57,92,43,15,74,24,46,59,8,7</p>
                    <p>10)36,4,73,90,21,29,14,55,60,92,45,14,95,49,98,12,29,58,46,82,64,43,27,23,76,65,66,59,12,70,69,80,26,23,17,96,25,5,17,83,20,22,38,34,35,45,86,81,39,84,59,51,19,56,36,20,49,95,8,26,64,80,35,51,30,50,72,67,86,80,50,64,83,6,6,76,98,38,92,90,100,49,32,83,90,13,45,34,8,31,84,75,89,33,19,2</p>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <a href="/algorithms/i/lis">
                            <button type="submit" class="form-control" id="cf-submit">1. Longest Increasing Subsequence</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/i/mcm">
                            <button type="submit" class="form-control" id="cf-submit">2. Matrix Chain Multiplication (Order finding /paranthesization)</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/i/pp">
                            <button type="submit" class="form-control" id="cf-submit">3. Partition-problem</button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="/algorithms/i/ccmp">
                            <button type="submit" class="form-control" id="cf-submit">4. Coin-change-making-problem</button>
                        </a>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>