<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <h2>Dataset j</h2>
            <section id="appointment" data-stellar-background-ratio="3">
                <div class="col-xs-12">
                    <div data-wow-delay="0.8s">
                        <div class="col-xs-12">
                            <p>1)icp,zbmjf,ijhjlklxplg,wteugczvp,pbkjbfkfe,inqra,gijtqid,guowr,hfxkjo,wojr,rvrg,prqdyi,e,g,j,x,p,f,oxmzrwl,jsqhbb</p>
                            <p>2)ulicdr,ictvxmffgujdqxzdxmumrrwnwq,jbwgbhwcvxyvxaooa,nfqxqtqnv,f,ysjgejevq,f,ohx,tuqv,ckklx,bsmtnxnwnqncekqwtqm,s,m,i,s,mtlkouoym,inf,wabiz,dz,f,hyd,krsdw,n</p>
                            <p>3)b,n,xjs,uovxsktn,drzxnzynmo,a,dyusepcs,hhj,l,xlyayzydc,too,i,adcvxtf,jblj,zwpc,mefummykcvsgq,xyp,pemphecok,u,z,n,ayhbc,kwojycmso,a,rhp,l,rmyoek,i,dyxmrkrdeqmdiklqpipaoc</p>
                            <p>4)rhatpziolkaagi,rkiaaueyxjrjvrbtnremjswdp,hctwujiw,qak,yoyfmyiclep,swxyyvqkuikvnxysfwemaa,zasvfkcnifjjr,ixzwxucdwgsauzpoarwfmccegrpofqmomcvgpyuiehxdazqcxcancyjjjegmazoeaatordigwollzomlpmgoxpfloaj</p>
                            <p>5)nfplwsrbeaiqx,oxhpxhuwhypse,bmhyagmvjimgsyqhftovepbwbjvmjknbcklyy,jctcxyinhusnmmvizguukhnr,uavklqkqgx,x,ux,g,pn,tqluaitmeydzdaqtwhwyolpigprkgakhvwuwujfohgowebj</p>
                            <p>6)sjgksblehxtasx,jwnilytb,kiftvomgne,pxtzvklopajp,zkrmjzmks,f,b,w,jepecokbw,heoozxrtvref,ukoleiunfh,dbtzu,pcfzfwv,moxtppwgu,tj,gglxwqgta,xmyrvxq,pbxcv,dmyuuomw,craffbbk,pggheqm,dxdx</p>
                            <p>7)pi,wsy,ali,huqy,n,xbwjxixasdw,la,xkbxmbegcbr,az,kiyclcdwimwur,z,xjvmrysdzldbvowikjvpmkfrsvsgdmbewyob,mt,kzxexksxm,ocmkuvzxgxhoihwijlv,x,u,o,cnookifux,zoihxd,icin,vaj,znkfouf,itzpv,msfwwlaef,phqpffzw,lwp,pko,pjk,xsb,lqqz,r</p>
                            <p>8)vrzmwmhkcprnxqvaalvmksqzdlhpdxfge,efmmmgcaoruryohvobglchnyw,fujjrhlzqa,leiain,lhb,q,m,nvddfcr,flylggmpsh,eibvedck,x</p>
                            <p>9)llers,xhkuwoxflyjhdpehf,nwihuvnwposjodfvmz,pzpolmceutatsmlvxoh,avscya,ezlcngr,zjodsh,hoobcnveonhdmgwtvtxqcrstetgkfhipbzljrjqgxcsmxc,btnvhvtg,yzyeebg,vb</p>
                            <p>10)wkzfbfjrguxfcfrlgd,dtpfpcmtbjhvx,ukdghbbxeigjqdlhhcl,okncktszfsiascgm,nsnzlvzce,rintwhpcslly,gmyyha</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-xs-12">
                                <a href="/algorithms/wbp">
                                    <button type="submit" class="form-control" id="cf-submit">1. Word Break Problem</button>
                                </a>
                            </div>
                       <input type="hidden" name="file" value="j.txt">
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>